<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Font Awesome 6 Duotone-Solid-900.otf</string>
		<string>Font Awesome 6 Duotone-Light-300.otf</string>
		<string>Font Awesome 6 Duotone-Regular-400.otf</string>
		<string>Font Awesome 6 Duotone-Thin-100.otf</string>
	</array>
</dict>
</plist>
